*.rej
*.orig
*~
/*.patch
.idea
build-*
cmake-build*

*.d
*.o
*.o[ls]

/liburing/liburing.a
/liburing/liburing.so*
/liburing/liburing-ffi.a
/liburing/liburing-ffi.so*

/examples/io_uring-close-test
/examples/io_uring-cp
/examples/io_uring-test
/examples/io_uring-udp
/examples/link-cp
/examples/napi-busy-poll-client
/examples/napi-busy-poll-server
/examples/ucontext-cp
/examples/poll-bench
/examples/send-zerocopy
/examples/rsrc-update-bench

/test/*.t
/test/*.dmesg
/test/output/

config-host.h
config-host.mak
config.log

liburing.pc
liburing-ffi.pc

cscope.out
